:root {
  --color-nav-user-icon:#8A92A6;
  --color-nav-user-burger-icon:#3C4258;
  --color-nav-user-icon-hover:#ECECEC;
}

.nav-user {
  width: 34px;
  height: 34px;
  min-width: 34px;
  min-height: 34px;
  max-width: 34px;
  max-height: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 34px;
  border: 3px solid;
  border-color: var(--color-nav-user-icon);
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  cursor: pointer;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: 0.3s ease-out;
          animation: 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  margin-right: 20px;
}

.nav-user:hover, .nav-user:hover.active {
  scale: 1.1;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.nav-user:hover.active {
  background: none !important;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.nav-user.active {
  scale: 1.2 !important;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.nav-user svg {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.nav-user svg path {
  stroke: var(--color-nav-user-icon);
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.nav-user:hover::after {
  background: var(--color-nav-user-icon);
  border-radius: 17px;
  content: "";
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  z-index: 99;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.nav-user:hover svg {
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  z-index: 100;
}

.nav-user:hover svg path {
  stroke: var(--color-nav-user-icon-hover);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.nav-user.active {
  background: var(--color-nav-user-icon);
}

.nav-user.active svg {
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  z-index: 100;
}

.nav-user.active svg path {
  stroke: var(--color-nav-user-icon-hover);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.burger {
  display: none;
}

.icon {
  height: 2px;
  width: 24px;
  top: 20px;
  background-color: var(--color-nav-user-burger-icon);
  border-radius: 2px;
  position: absolute;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.icon:before {
  left: 0;
  position: absolute;
  top: -8px;
  height: 2px;
  width: 24px;
  background-color: var(--color-nav-user-burger-icon);
  content: "";
  border-radius: 2px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.icon:after {
  left: 0;
  position: absolute;
  top: 8px;
  height: 2px;
  width: 24px;
  background-color: var(--color-nav-user-burger-icon);
  content: "";
  border-radius: 20px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.menu {
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  cursor: pointer;
  margin-right: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.burger .icon {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.burger .icon:after {
  -webkit-transition: top 0.5s 0.5s, -webkit-transform 0.5s;
  transition: top 0.5s 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, top 0.5s 0.5s;
  transition: transform 0.5s, top 0.5s 0.5s, -webkit-transform 0.5s;
}

.burger .icon:before {
  -webkit-transition: top 0.5s 0.5s, -webkit-transform 0.5s;
  transition: top 0.5s 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, top 0.5s 0.5s;
  transition: transform 0.5s, top 0.5s 0.5s, -webkit-transform 0.5s;
}

.burger.open .icon {
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  background: transparent;
}

.burger.open .icon:before {
  -webkit-transition: top 0.5s, -webkit-transform 0.5s 0.5s;
  transition: top 0.5s, -webkit-transform 0.5s 0.5s;
  transition: top 0.5s, transform 0.5s 0.5s;
  transition: top 0.5s, transform 0.5s 0.5s, -webkit-transform 0.5s 0.5s;
  top: 0px;
  -webkit-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
}

.burger.open .icon:after {
  -webkit-transition: top 0.4s, -webkit-transform 0.5s 0.5s;
  transition: top 0.4s, -webkit-transform 0.5s 0.5s;
  transition: top 0.4s, transform 0.5s 0.5s;
  transition: top 0.4s, transform 0.5s 0.5s, -webkit-transform 0.5s 0.5s;
  top: 0px;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

@media (max-width: 767px) {
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-user {
    display: none;
  }
}
/*# sourceMappingURL=nav-users.css.map */