:root{
  --color-nav-user-icon:#8A92A6;
  --color-nav-user-burger-icon:#3C4258;
  --color-nav-user-icon-hover:#ECECEC;
}

.nav-user {
  width: 34px;
  height: 34px;
  min-width: 34px;
  min-height: 34px;
  max-width: 34px;
  max-height: 34px;
  display: flex;
  border-radius: 34px;
  border: 3px solid;
  border-color: var(--color-nav-user-icon);
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  cursor: pointer;
  align-items: flex-end;
  justify-content: center;
  animation: 0.3s ease-out;
  transition: all 0.3s ease-out;
  margin-right: 20px;
  &:hover, &:hover.active{
    scale: 1.1;
    transition: all 0.3s ease-out;
  }

  &:hover.active{
    background: none!important;
    transition: all 0.3s ease-out;

  }

  &.active{
    scale: 1.2!important;
    transition: all 0.3s ease-out;

  }
  & svg{
    transform: translateY(0px);
    transition: all 0.3s ease-out;

  }

  & svg path{
    stroke:var(--color-nav-user-icon);
    stroke-width:2;
    stroke-linecap:round;
    stroke-linejoin:round;
  }

  &:hover::after{
    background: var(--color-nav-user-icon);
    border-radius: 17px;
    content: "";
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    z-index: 99;
    transform: translateY(-2px);
    transition: all 0.3s ease-out;

  }
  &:hover svg {
    transform: translateY(-6px);
    transition: all 0.3s ease-out;
    z-index: 100;

    & path{
      stroke:var(--color-nav-user-icon-hover);
      transition: all 0.3s ease-out;
    }
  }

  &.active{
    background: var(--color-nav-user-icon);
    & svg{
      transform: translateY(-6px);
      transition: all 0.3s ease-out;
      z-index: 100;
      & path{
        stroke:var(--color-nav-user-icon-hover);
        transition: all 0.3s ease-out;
      }
    }
  }

}


.burger{display: none;}
.icon{
  height: 2px;
  width:  24px;
  top: 20px;
  background-color: var(--color-nav-user-burger-icon);
  border-radius: 2px;
  position: absolute;
  transition-duration: 0.5s;

  &:before{
    left: 0;
    position: absolute;
    top: -8px;
    height: 2px;
    width: 24px;
    background-color: var(--color-nav-user-burger-icon);
    content: "";
    border-radius: 2px;
    transition-duration: 0.5s;

  }

  &:after{
    left: 0;
    position: absolute;
    top: 8px;
    height: 2px;
    width: 24px;
    background-color:  var(--color-nav-user-burger-icon);
    content: "";
    border-radius: 20px;
    transition-duration: 0.5s;

  }
}
.menu{
  width: 40px;
  height: 40px;
  position: relative;
  transition-duration: 1s;
  cursor: pointer;
  margin-right: 20px;
  justify-content: center;
  align-items: center;
}

.burger{
  .icon{
    transition-duration: 0.5s;
    transition-delay: 0.5s;

    &:after{
      transition: transform 0.5s, top 0.5s 0.5s;
    }

    &:before{
      transition: transform 0.5s, top 0.5s 0.5s;
    }
  }
}

.burger.open .icon{
  transition-duration: 0.1s;
  transition-delay: 0.5s;
  background: transparent;
}

.burger.open .icon:before{
  transition: top 0.5s, transform 0.5s 0.5s;
  top: 0px;
  transform: rotateZ(-45deg);
}

.burger.open .icon:after{
  transition: top 0.4s, transform 0.5s 0.5s;
  top: 0px;
  transform: rotateZ(45deg);
}

@media (max-width: 767px) {
  .burger{display: flex;}
  .nav-user{
    display: none;
  }
}