.client-block 
    .client-block__header

    table#clientsDataTable.custom-table.client-block__table
        thead
            tr
                th События
                th Баланс
                th Посещение
        tbody
