#addTeethProcedureModal.modal.add-teeth__procedure 
    .modal__content 
        .modal__header
            .add-teeth__info 
                h4.modal__title 
                .add-teeth__pacinet 

            .add-teeth__btns
        .modal__body 
            .add-teeth__tab-links
                .tab-link.add-teeth__tab-link(data-tab='addTeethProcedure') Лечение
                .tab-link.add-teeth__tab-link(data-tab='addTeethNextProcedure') Следующие посещения
            .tab-content
                #addTeethProcedure.tab-pane.add-teeth__procedure
                    .add-teeth__card 

                #addTeethNextProcedure.tab-pane.add-teeth__next-procedure
