/* ---------------TODO FORM INPUT .... -----------*/
.form-group {
    position: relative;
    display: block;
}

.form-label {
    position: absolute;
    left: 17px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #999;
    pointer-events: none;
    transition: all 0.3s ease 0s;
    transform: translateY(-20px);
    padding: 0 5px 0 5px;
}

.form-input {
    padding: 16px 30px 16px 16px;
    background: #fff;
    border: 1px solid $color-border-3;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: $color-clay-3;
    border-radius: 10px;
    height: 48px;
    width: 100%;

    &:hover {
        background: $color-background-light;
        border: 1px solid $color-border;
    }

    &:invalid + label {
        transform: translateY(15px);
    }

    &:focus {
        outline: none;
        border: 2px solid $color-blue;
    }

    &:focus ~ label {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: $color-blue;
        background: #fff;
        padding: 0 2px;
        transform: translateY(-8px);
    }

    &:valid + label {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: $color-clay;
        transform: translateY(-8px);
        background: #fff;
        padding: 0 2px;
    }
}

/* ---------------TODO FORM INPUT SEARCH STYLE .... -----------*/
.input-custom-search {
    background-color: $color-white;
    border: 1px solid $color-text;
    height: 48px;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    color: $color-clay;
    box-shadow: $default-box-shadow;
    border: 2px solid transparent;
    transition: all 0.2s;

    &:focus {
        border: 2px solid $color-blue;
    }
}
