.calendar-tab-btn {
    position: relative;
    overflow: hidden;

    & span {
        z-index: 5;
    }

    & i {
        color: $color-clay-3;
        transition: all 0.3s;
    }

    &:hover {
        background-color: #ffffff;
    }

    &:after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        left: 50%;
        top: 50%;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.3s;
        z-index: -1;
    }

    &:hover:after {
        background-color: $color-primary-500;
        width: 70%;
        height: 70%;
    }

    &:hover i {
        color: $color-white;
    }

    &.active:after {
        width: 150%;
        height: 150%;
        background-color: $color-primary-500;
    }

    &.active i {
        color: #ffffff !important;
    }
}
