:root{
  --color-tooltip-background:#222738;
  --color-tooltip-textcolor:#fff;
}

.tooltip {
  background: var(--color-tooltip-background);
  color: var(--color-tooltip-textcolor);
  font-family: LatoWebBold;
  font-size: 14px;
  border-radius: 10px;
  content: "";
  padding: 10px;
  min-width: 50px;
  display: block;
  position: absolute;
  z-index: 1000;
  transition: all 0.5s ease-out;
  opacity: 0;

  &.animate{
    opacity: 1;
    transition: all 0.5s ease-out;
  }
}