@font-face {
    font-family: 'medid';
    src: url('../fonts/icons/medid.eot?leui5c');
    src: url('../fonts/icons/medid.eot?leui5c#iefix')
            format('embedded-opentype'),
        url('../fonts/icons/medid.ttf?leui5c') format('truetype'),
        url('../fonts/icons/medid.woff?leui5c') format('woff'),
        url('../fonts/icons/medid.svg?leui5c#medid') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^='medid-icon-'],
[class*=' medid-icon-'] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'medid' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 24px;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.medid-icon-important:before {
    content: '\e93c';
}
.medid-icon-urgent:before {
    content: '\e93d';
}
.medid-icon-add-user:before {
    content: '\e92b';
}
.medid-icon-blacklist:before {
    content: '\e937';
}
.medid-icon-phone-number:before {
    content: '\e938';
}
.medid-icon-important-filled:before {
    content: '\e939';
}
.medid-icon-warning-filled:before {
    content: '\e93a';
}
.medid-icon-chevron-left:before {
    content: '\e92a';
}
.medid-icon-filter-off:before {
    content: '\e921';
}
.medid-icon-filter-on:before {
    content: '\e922';
}
.medid-icon-day-1:before {
    content: '\e91b';
}
.medid-icon-short-diagnose:before {
    content: '\e920';
}
.medid-icon-notification-fill:before {
    content: '\e91f';
}
.medid-icon-active-notification:before {
    content: '\e900';
}
.medid-icon-add:before {
    content: '\e901';
}
.medid-icon-add-doctor:before {
    content: '\e902';
}
.medid-icon-add-file:before {
    content: '\e903';
}
.medid-icon-add-heal:before {
    content: '\e904';
}
.medid-icon-add-lab:before {
    content: '\e905';
}
.medid-icon-add-note:before {
    content: '\e906';
}
.medid-icon-add-receipt:before {
    content: '\e907';
}
.medid-icon-archive:before {
    content: '\e908';
}
.medid-icon-arrow-down:before {
    content: '\e909';
}
.medid-icon-arrow-left:before {
    content: '\e90a';
}
.medid-icon-arrow-right:before {
    content: '\e90b';
}
.medid-icon-arrow-up:before {
    content: '\e90c';
}
.medid-icon-birthday:before {
    content: '\e90d';
}
.medid-icon-block:before {
    content: '\e90e';
}
.medid-icon-block-notification:before {
    content: '\e90f';
}
.medid-icon-calendar:before {
    content: '\e910';
}
.medid-icon-cash:before {
    content: '\e911';
}
.medid-icon-cashback:before {
    content: '\e912';
}
.medid-icon-check:before {
    content: '\e913';
}
.medid-icon-checked:before {
    content: '\e914';
}
.medid-icon-chevron-down:before {
    content: '\e915';
}
.medid-icon-chevron-right:before {
    content: '\e916';
}
.medid-icon-clear:before {
    content: '\e917';
}
.medid-icon-continius:before {
    content: '\e918';
}
.medid-icon-current-day:before {
    content: '\e919';
}
.medid-icon-day:before {
    content: '\e91a';
}
.medid-icon-discount:before {
    content: '\e91c';
}
.medid-icon-exchange:before {
    content: '\e91d';
}
.medid-icon-favourite:before {
    content: '\e91e';
}
.medid-icon-language:before {
    content: '\e923';
}
.medid-icon-lock:before {
    content: '\e924';
}
.medid-icon-money:before {
    content: '\e925';
}
.medid-icon-money-1:before {
    content: '\e926';
}
.medid-icon-month:before {
    content: '\e927';
}
.medid-icon-night:before {
    content: '\e928';
}
.medid-icon-notes:before {
    content: '\e929';
}
.medid-icon-print:before {
    content: '\e92c';
}
.medid-icon-qr:before {
    content: '\e92d';
}
.medid-icon-remove:before {
    content: '\e92e';
}
.medid-icon-repeatable:before {
    content: '\e92f';
}
.medid-icon-search:before {
    content: '\e930';
}
.medid-icon-time:before {
    content: '\e931';
}
.medid-icon-unblock:before {
    content: '\e932';
}
.medid-icon-invisible:before {
    content: '\e933';
}
.medid-icon-urgent-filled:before {
    content: '\e934';
}
.medid-icon-user:before {
    content: '\e935';
}
.medid-icon-visible:before {
    content: '\e936';
}
.medid-icon-week:before {
    content: '\e93b';
}
