@import '../components/datatable/datatable-style.scss';
@import '../components/skeleton/skeleton.scss';

.client-block {
    max-width: 708px;
    width: 100%;
    padding: 30px 20px;
    background-color: $color-white;
    border-radius: 10px;
    margin-left: 15px;
    box-shadow: $default-box-shadow;

    & table tbody tr > td {
        padding-top: 3px;
        padding-bottom: 3px;
    }
}

.client-datatable {
    &__actions {
        display: flex;
        // justify-content: space-between;

        & span {
            font-size: 18px;
            margin-right: 11px;
        }

        & .medid-icon-continius {
            color: $color-dark-green;
        }
        & .medid-icon-urgent {
            color: $color-yellow-500;
        }
        & .medid-icon-active-notification {
            color: $color-blue;
        }
        & .medid-icon-important {
            color: $color-red;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        font-size: 14px;

        &--name {
            font-family: 'LatoWebBlack';
            margin-bottom: 4px;
        }

        &--birthday {
            color: $color-clay-3;
            margin-bottom: 4px;
        }

        &--phone {
            color: $color-blue;
            font-family: 'LatoWebBold';
        }
    }

    &__bill {
        font-family: 'LatoWebBlack';
        color: $color-dark-green;
        font-size: 16px;
    }

    &__event {
        display: flex;
        flex-direction: column;
        font-size: 14px;

        &--doctor {
            font-family: 'LatoWebBlack';
            font-size: 14px;
            margin-bottom: 4px;
        }

        &--time {
            font-size: 14px;
            color: $color-clay-3;
            margin-bottom: 4px;
        }

        &--delay {
            display: flex;
            align-items: center;
            font-family: 'LatoWebBold';
            color: $color-clay-2;

            & span:first-child {
                margin-right: 4px;
            }
        }
    }
}
