.add-event-modal.modal {
    .modal {
        &__content {
            width: 100%;
            max-width: 920px;
        }

        &__body {
            display: flex;
            margin-top: 30px;

            &--left {
                flex: 1 1 50%;
                padding-right: 10px;

                display: flex;
                flex-direction: column;
            }

            &--right {
                flex: 1 1 50%;
                padding-left: 10px;

                display: flex;
                flex-direction: column;
            }
        }

        &__actions {
            display: flex;
            margin: 0 -5px;
            flex-grow: 1;
            justify-content: end;
            margin-right: 16px;

            & span {
                font-size: 20px;
            }

            & button {
                width: 36px;
                height: 36px;
                padding: 2px;
                margin: 0 5px;
                background-color: $color-background-2;
                box-shadow: none;
                filter: drop-shadow(0);
                filter: none;
            }
        }

        &__form-btns {
            display: flex;

            & .add-event__save {
                padding: 10px 20px;
                font-family: 'LatoWebBold';
                font-size: 16px;
                margin-right: 20px;
            }

            & button {
                height: 40px;
            }
        }
    }

    .add-event {
        &__part {
            padding: 10px 20px;
            border: 1px solid $color-border-3;
            border-radius: 10px;
            margin-top: 30px;
            font-family: 'LatoWebSemibold';
            font-size: 16px;

            display: flex;
            flex-direction: column;

            & button {
                border: 1px solid $color-primary-500;
                background-color: $color-white;
                color: $color-primary-500;
                text-align: start;
                justify-content: start;
                margin-top: 15px;

                & span {
                    margin-right: 8px;
                }
            }
        }

        &__pacient-form,
        &__doctor-form {
            display: none;
        }

        &__pacient-btn,
        &__doctor-btn {
            display: flex;
        }

        &__pacient-btn.hide,
        &__doctor-btn.hide {
            display: none;
        }

        &__pacient-form.show,
        &__doctor-form.show {
            display: inline-block;
        }

        &__pacient-radio {
            display: flex;
            justify-content: center;
            margin-top: 20px;

            &--left {
                margin-right: 20px;
            }

            & input:last-child {
                margin-right: 15px;
            }
        }

        &__doctor,
        &__pacient,
        &__phone {
            margin-top: 20px;
        }

        &__date {
            margin-bottom: 30px;
        }

        &__time {
            display: flex;
            margin-bottom: 30px;

            &-start {
                margin-right: 15px;
            }

            &-end {
                margin-left: 15px;
            }
        }

        &__comment {
            display: flex;
            flex-grow: 1;

            & textarea {
                height: 100%;
            }
        }

        &__important {
            transition: 0.2s;
            &.active {
                background-color: $color-red-50;
                color: $color-red;
            }
        }

        &__flash {
            transition: 0.2s;
            &.active {
                background-color: $color-yellow-50;
                color: $color-yellow-500;
            }
        }

        &__notify {
            transition: 0.2s;
            &.active {
                background-color: $color-primary-50;
                color: $color-primary-500;
            }
        }

        &__repeat {
            transition: 0.2s;
            &.active {
                background-color: $color-background-3;
                color: $color-white;
            }
        }

        &__continius {
            transition: 0.2s;
            &.active {
                background-color: $color-green-50;
                color: $color-dark-green;
            }
        }
    }
}
