.filter-events-modal.modal {
    .modal {
        &__content {
            width: 100%;
            max-width: 460px;
        }

        &__body {
            display: flex;
            margin-top: 30px;
            flex-direction: column;
        }

        &__actions {
            display: flex;
            margin: 0 -5px;
            flex-grow: 1;
            justify-content: end;
            margin-right: 50px;

            & span {
                font-size: 20px;
            }

            & button {
                width: 36px;
                height: 36px;
                padding: 2px;
                margin: 0 5px;
                background-color: $color-background-2;
                box-shadow: none;
                filter: drop-shadow(0);
            }
        }

        &__footer {
            & button {
                width: 100%;
            }
        }
    }

    .filter-event {
        &__by-pacient {
        }

        &__by-doctor {
            margin-top: 30px;
        }

        &__by-time {
            margin-top: 30px;
        }

        &__by-actions {
            display: flex;
            margin-top: 30px;
            justify-content: space-between;
            align-items: center;

            &-group {
                margin: 0 -5px;
                display: flex;
            }

            & button {
                width: 36px;
                height: 36px;
                padding: 2px;
                margin: 0 5px;
                background-color: $color-background-2;
                box-shadow: none;
                filter: drop-shadow(0);
                filter: none;

                & span {
                    font-size: 20px;
                }
            }
        }

        &__important {
            transition: 0.2s;

            &.active {
                background-color: $color-red-50;
                color: $color-red;
            }
        }

        &__flash {
            transition: 0.2s;
            &.active {
                background-color: $color-yellow-50;
                color: $color-yellow-500;
            }
        }

        &__notify {
            transition: 0.2s;

            &.active {
                background-color: $color-primary-50;
                color: $color-primary-500;
            }
        }

        &__repeat {
            transition: 0.2s;

            &.active {
                background-color: $color-background-3;
                color: $color-white;
            }
        }

        &__continius {
            transition: 0.2s;

            &.active {
                background-color: $color-green-50;
                color: $color-dark-green;
            }
        }
    }
}
