.calendar-doctor 
    .calendar-doctor__left 
        .calendar-doctor__left--top
            .calendar-doctor__left--time
                span.medid-icon-time
        .calendar-doctor__left--body
            .calendar-doctor__hour
                .calendar-doctor__hour--left
                    span 08
                .calendar-doctor__hour--right
                    span 00
                    span 15
                    span 30
                    span 45
            .calendar-doctor__hour
                .calendar-doctor__hour--left
                    span 09
                .calendar-doctor__hour--right
                    span 00
                    span 15
                    span 30
                    span 45
            .calendar-doctor__hour
                .calendar-doctor__hour--left
                    span 10
                .calendar-doctor__hour--right
                    span 00
                    span 15
                    span 30
                    span 45
            .calendar-doctor__hour
                .calendar-doctor__hour--left
                    span 11
                .calendar-doctor__hour--right
                    span 00
                    span 15
                    span 30
                    span 45

    .calendar-doctor__right 
        table.custom-table.calendar-doctor__table 
            thead#calendarDoctorThead.calendar-doctor__thead
                tr
                    th --/--
                    th --/--
                    th --/--
                    th --/--

            tbody#calendarDoctorTbody.calendar-doctor__tbody 
                tr
                    td 
                        .calendar-doctor__events
                    td 
                        .calendar-doctor__events
                    td 
                        .calendar-doctor__events
                    td 
                        .calendar-doctor__events
                tr
                    td 
                        .calendar-doctor__events
                    td 
                        .calendar-doctor__events
                    td 
                        .calendar-doctor__events
                    td 
                        .calendar-doctor__events
                tr
                    td 
                        .calendar-doctor__events
                    td 
                        .calendar-doctor__events
                    td 
                        .calendar-doctor__events
                    td 
                        .calendar-doctor__events
                tr
                    td 
                        .calendar-doctor__events
                    td 
                        .calendar-doctor__events
                    td 
                        .calendar-doctor__events
                    td 
                        .calendar-doctor__events
                tr
                    td 
                        .calendar-doctor__events
                    td 
                        .calendar-doctor__events
                    td 
                        .calendar-doctor__events
                    td 
                        .calendar-doctor__events
                tr
                    td 
                        .calendar-doctor__events
                    td 
                        .calendar-doctor__events
                    td 
                        .calendar-doctor__events
                    td 
                        .calendar-doctor__events
                tr
                    td 
                        .calendar-doctor__events
                    td 
                        .calendar-doctor__events
                    td 
                        .calendar-doctor__events
                    td 
                        .calendar-doctor__events
                tr
                    td 
                        .calendar-doctor__events
                    td 
                        .calendar-doctor__events
                    td 
                        .calendar-doctor__events
                    td 
                        .calendar-doctor__events
                tr
                    td 
                        .calendar-doctor__events
                    td 
                        .calendar-doctor__events
                    td 
                        .calendar-doctor__events
                    td 
                        .calendar-doctor__events
                tr
                    td 
                        .calendar-doctor__events
                    td 
                        .calendar-doctor__events
                    td 
                        .calendar-doctor__events
                    td 
                        .calendar-doctor__events
                tr
                    td 
                        .calendar-doctor__events
                    td 
                        .calendar-doctor__events
                    td 
                        .calendar-doctor__events
                    td 
                        .calendar-doctor__events
                tr
                    td 
                        .calendar-doctor__events
                    td 
                        .calendar-doctor__events
                    td 
                        .calendar-doctor__events
                    td 
                        .calendar-doctor__events
                tr
                    td 
                        .calendar-doctor__events
                    td 
                        .calendar-doctor__events
                    td 
                        .calendar-doctor__events
                    td 
                        .calendar-doctor__events
                tr
                    td 
                        .calendar-doctor__events
                    td 
                        .calendar-doctor__events
                    td 
                        .calendar-doctor__events
                    td 
                        .calendar-doctor__events
                tr
                    td 
                        .calendar-doctor__events
                    td 
                        .calendar-doctor__events
                    td 
                        .calendar-doctor__events
                    td 
                        .calendar-doctor__events
                tr
                    td 
                        .calendar-doctor__events
                    td 
                        .calendar-doctor__events
                    td 
                        .calendar-doctor__events
                    td 
                        .calendar-doctor__events
    .calendar-doctor__no-events
        h3#calendarDoctorNoEvents
