table.custom-table.calendar-month__table
    thead.calendar-month__thead
        tr
            th(scope='col', data-i18n='Resources.Calendar.Week.Short.0') Пн
            th(scope='col', data-i18n='Resources.Calendar.Week.Short.1') Вт
            th(scope='col', data-i18n='Resources.Calendar.Week.Short.2') Ср
            th(scope='col', data-i18n='Resources.Calendar.Week.Short.3') Чт
            th(scope='col', data-i18n='Resources.Calendar.Week.Short.4') Пт
            th(scope='col', data-i18n='Resources.Calendar.Week.Short.5') Сб
            th(scope='col', data-i18n='Resources.Calendar.Week.Short.6') Вс

    tbody.calendar-month__tbody
        tr#calendarMonthDays.calendar-month__days
